<%- model_class = Saving -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.titleize %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('display_m.saving_m.scheckdate_m' ) %>:</strong></dt>
  <dd><%= @saving.scheckdate %></dd>
  <dt><strong><%= t('display_m.saving_m.svalue_m' ) %>:</strong></dt>
  <dd><%= @saving.svalue.to_s(:delimited, delimiter: ',') if @saving.svalue != nil %></dd>
  <dt><strong><%= t('display_m.saving_m.sobject_m' ) %>:</strong></dt>
  <dd><%= @saving.sobject %></dd>
  <dt><strong><%= t('display_m.saving_m.sperson_m' ) %>:</strong></dt>
  <dd><%= $saperson_disp_m[@saving.sperson] %></dd>
  <dt><strong><%= t('display_m.saving_m.skindx_m' ) %>:</strong></dt>
  <dd><%= $sakindx_disp_m[@saving.skindx] %></dd>
  <dt><strong><%= t('display_m.saving_m.skindy_m' ) %>:</strong></dt>
  <dd><%= @saving.skindy %></dd>
  <dt><strong><%= t('display_m.saving_m.sfrom_m' ) %>:</strong></dt>
  <dd><%= @saving.sfrom %></dd>
  <dt><strong><%= t('display_m.saving_m.snotice_m' ) %>:</strong></dt>
  <dd><%= @saving.snotice %></dd>
  <dt><strong><%= t('display_m.saving_m.sdiary_m' ) %>:</strong></dt>
  <dd><%= @saving.sdiary %></dd>
  <dt><strong><%= t('display_m.saving_m.sdetail_m' ) %>:</strong></dt>
  <dd><%= @saving.sdetail %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              savings_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_saving_path(@saving), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              saving_path(@saving),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
